
\.idea/codeStyles/Project\.xml

\.idea/dbnavigator\.xml

\.idea/MavenRepo\.iml

\.idea/modules\.xml

\.idea/sonarlint/issuestore/f/8/f8ba61e2e74253a88e58dc3409dc613ae5a0318b

\.idea/sonarlint/issuestore/index\.pb

\.idea/vcs\.xml

\.idea/workspace\.xml
